@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento");
html {
  font-size: 14.5px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.45em;
  background-color: #f0f0f0;
  color: #404646;
}

* {
  box-sizing: border-box;
}

.grid-container {
  padding-top: 5rem;
  display: grid;
  grid-gap: 1.1312rem;
  grid-template-columns: repeat(auto-fit, 12.8rem);
  grid-auto-rows: 12.8rem;
  grid-auto-flow: dense;
  justify-content: center;
  max-width: 75em;
}

.card {
  grid-row: auto/span 1;
  grid-column: auto/span 1;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
  box-sizing: border-box;  
}


.card-title{
  text-shadow:1px 1px 3px black;
  font-size:2.5rem;
  color:white;
}
.card__image {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
/* .card__image:hover{
  background: linear-gradient(to bottom, rgba(46, 231, 248, 0.7),rgba(206, 38, 38, 0)) !important;
} */
.card__side-by-side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.card__side-by-side--m {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.card__side-by-side--m img {
  min-height: auto;
}
.card__content {
  padding: 1.6rem;
}

.card--vertical {
  grid-row: auto/span 2;
}
.card--horizontal {
  grid-column: auto/span 2;
}
.card--frameless {
  background-color: transparent;
  box-shadow: none;
}

.padding-large {
  padding: 3.2rem;
}
.padding-large--l {
  padding: 1.6rem;
}


@media (max-width: 413px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  .card {
    min-height: 12.8rem;
  }
}
@media (min-width: 627px) {
  .grid-container {
    grid-gap: 1.6rem;
  }

  .card__side-by-side--m {
    flex-flow: row nowrap;
  }
  .card__side-by-side--m img {
    min-height: 100%;
  }
  .card--featured {
    grid-row: auto/span 2;
    grid-column: 1/-1;
  }
}
@media (min-width: 836px) {
  .padding-large--l {
    padding: 3.2rem;
  }
}