
.blogpost-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.carousel{
  height:70vh;
  width: 100%;
  
}

.row{
  height: 70%;
}

.card-body{
  overflow: auto;
  height: 70vh;
}

.carousel-inner {
  height: inherit;
  width: 100%;
}

.carousel{
  padding: 0;
  background-color: rgb(224, 233, 233);
}
.carousel-item{
  height: 100%;
  width: 33,3%;
}

.card-text{
  font-size: 1.2rem;
}

.carousel-image{
  margin-top: 20%;
  padding-right: 4%;
  height: 60%;
  width: 100%;
}